*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
  z-index: -1; }

.slide-enter {
  transform: translateX(100%); }

.slide-enter.slide-enter-active {
  transform: translateX(0%); }

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%); }

.slide-exit-active {
  transform: translateX(-100%); }

.home {
  background: blue;
  height: 100vh;
  width: 100vw; }

.second {
  background: green;
  height: 100vh;
  width: 100vw; }

.first {
  background: tan;
  height: 100vh;
  width: 100vw; }

.third {
  background: pink;
  height: 100vh;
  width: 100vw; }

.fourth {
  background: maroon;
  height: 100vh;
  width: 100vw; }

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  width: 10vw;
  background-color: white;
  position: absolute;
  height: 100vh;
  overflow: auto; }
  .nav__links {
    display: block;
    color: black;
    margin-top: 75%;
    text-align: center;
    text-decoration: none; }

.page-container {
  background-color: #dcdcde;
  height: 100vh;
  width: 90vw;
  margin-left: 10vw;
  overflow: scroll; }
