*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  height: 100vh;
  width: 100vw; }

.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
  z-index: -1; }

.slide-enter {
  transform: translateX(100%); }

.slide-enter.slide-enter-active {
  transform: translateX(0%); }

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%); }

.slide-exit-active {
  transform: translateX(-100%); }

.home {
  background: blue;
  height: 100vh;
  width: 100vw; }

.second {
  background: green;
  height: 100vh;
  width: 100vw; }

.first {
  background: tan;
  height: 100vh;
  width: 100vw; }

.third {
  background: pink;
  height: 100vh;
  width: 100vw; }

.fourth {
  background: maroon;
  height: 100vh;
  width: 100vw; }

.nav {
  border-radius: 5%;
  list-style-type: none;
  margin-top: 15%;
  padding: 0;
  font-size: 2rem;
  width: 10vw;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  height: fit-content;
  overflow: auto;
  z-index: 1; }
  .nav__links {
    display: block;
    color: black;
    margin: 10% 0;
    text-align: center;
    text-decoration: none; }

.page-container {
  background-color: grey;
  height: 90vh;
  width: 100vw;
  overflow: hidden; }

.footer {
  background: black;
  color: white;
  height: 5vh;
  width: 100vw; }

.quotes {
  background: lightblue;
  color: black;
  height: 5vh;
  width: 100vw; }
