.quotes {
  background: #f8f8ff;
  border: 2px dashed black;
  border-radius: 3px;
  box-shadow: 0 0 0 2px #f8f8ff, 2px 1px 6px 4px rgba(10, 10, 0, 0.8);
  margin: 0 auto;
  height: 4vh;
  width: 95%;

  &__text {
    color: black;
    margin: 0.25% auto;
    text-align: center;
    text-shadow: 1px 1px 2px #f8f8ff;
  }
}

.cover {
  background-color: lightblue;
  padding: 5px;
  height: 5vh;
  width: 100vw;
}
